.person {
  color: $color__interface--light--type;
  width: 100%;

  &__name,
  &__job-title,
  &__location, 
  &__email, 
  &__twitter {
    padding: 0 5% 0;
    text-align: left;
  }
  
  &__about {
    display: inline-block;
    width: 50%;
  }
  &__job-title,
  &__location, 
  &__email, 
  &__twitter {
    @extend %base--p;
    display: inline-block;
    width: 100%;
  }

  &__name {
    @extend %base--h2;
  }

  &__image-container {
    display: inline-block;
    width: 50%;
  }

  &__image {
    display: inline-block;
    width: 100%;
    // width: rem(150px);
    // height: rem(150px);
  }
}