.card {
  background-color: white;
  margin-bottom: 1rem;
  overflow: hidden;
  width: 100%;
  position: relative;
  @media screen and (min-width: 520px){
    @include gallery(6 of 12);
  }
  @media screen and (min-width: 945px){
    @include gallery(4 of 12);
  }

}

.card__banner {
  background-color: #5aaafa;
  overflow: hidden;
  display: block;
  padding: 1rem;
  width: 100%;
}

.card__body {
  padding: 1rem;
  height: 140px;
}

.card__img--container {
  float: left;
  margin-right: 1rem;
}

.card__img {
  width: 100%;
  max-width: 75px;
  max-height: 75px;
}

.card__body-copy--container {
  overflow: hidden;
}

.card__person-name,
.card__person-title {
  display: block;
}

.card__person-name {
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: .25rem;
}
.card__person-title {
  font-weight: 300;
  line-height: 1.4;
}

.card__icon-container {
  float: right;
}

.card__icon {
  color: white;
  margin-left: 1rem;
}

.whois__heading {
  font-weight: bold;
}

.whois__heading--normal {
  font-weight: normal;
}