.person {
  @extend %font-smoothing;
  width: 100%;
  padding: 1em 0;

  &__title, 
  &__location, 
  &__email,
  &__twitter {
    @extend %base--p;
    padding: 0 1em;
    margin-bottom: 0.5em;
  }
  &__profile-container {
    width: 100%;
    @media screen and (min-width: em(400px)) {
      width: 50%;
    }
  }

  &__name {
    @extend %base--h1;
    display: block;
    background-color: darken(#5aaafa, 1);
    padding: 1em;
    margin: 0;
    color: white;
    font-size: 1.25rem;
    width: 100%;
  }

  &__picture-container {
    display: inline-block;
    width: 100%;
    height: rem(250px);
    background-repeat: no-repeat;
    background-size: 75%;
  }
}