@import "bower_components/bluemix-style/scss/base.scss";
@import "person";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #eef2f3;
  font-family: helvetica;
}

.whois__header { 
  background-color: #5aaafa;
  height: 70px;
  line-height: 70px;
  margin-bottom: 1rem;
  padding: 0 1rem;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.whois__heading {
  font-size: 1rem;
  color: #eef2f3;
}

.page-wrapper {
  @include container(94%);
  padding-top: 102px;
  @media screen and (min-width: 520px){
    @include container(90%);
  }
}
