@import "bower_components/bluemix-style/scss/base.scss";
@import "person";


.whois__header { 
  background-color: #5aaafa;
  height: 70px;
  line-height: 70px;
  margin-bottom: 1rem;
  padding: 0 1rem;
  width: 100%;
}

.whois__heading {
  font-size: 1rem;
}

.page-wrapper {
  @include container(94%);
  @media screen and (min-width: 520px){
    @include container(90%);
  }
}
